*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}
#top
{
   width: 100%;
   height: 50px;

   display: flex;
   justify-content: space-between;
   align-items: center;
   
}


nav{
   display: flex;
   gap: 20px;
}
#top nav ul{ 
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 30px;
}
#top  button{
   padding-top: 10px;
   padding-left:30px;
   padding-right:30px;
   padding-bottom:10px;
}



.imgtext{
   font-style: italic;
   font-size: large;
}


.home{
   width: 100%;
   height: 100vh;
   border: 1px solid black;
   background-image: url(carousel-1.jpg);
   /* background-image: url(carousel-1.jpg); */
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
}
